{% extends "layouts.html" %}
{% block content %}
<body>
        <div class="container">
            <div class="container">
                <br><br>
                <h1 class="text-center">Dự đoán mực nước hồ Hồng Sạt</h1>
                <br><br>
            </div>
            <form id="form" method="post" class="col s12">
                {{form.hidden_tag()}}
                <div class="row">
                    <div class="input-field col s4">
                        <label for="precipitation">Lượng mưa(mm):</label>
                        <input id="precipitation" name="precipitation" class="form-control">
                        {% for error in form.errors.precipitation %}
                            <!--<span class="text-danger">{{ form.errors.precipitation }}</span>-->
                            <span class="text-danger">{{error}}</span>
                        {% endfor %}
                    </div>
                    <div class="input-field col s4">
                        <label for="sluice_status">Độ mở cống:</label>
                        <div class="input-group">
                            <select id="sluice_status" name="sluice_status" class="form-control">
                                <option value="" disabled selected hidden>Nhấn để chọn độ mở cống</option>
                                <option value="C">Cống đóng</option>
                                <option value="S">Cống mở nhỏ</option>
                                <option value="O">Cống mở</option>
                                <option value="O2">Cống mở 2 kênh</option>
                                <option value="O1">Cống mở 1 kênh</option>
                                <option value="L">Cống mở to</option>
                            </select>
                        </div>
                        {% for error in form.errors.sluice_status %}
                            <!--<span class="text-danger">{{ form.errors.sluice_status }}</span>-->
                            <span class="text-danger">{{error}}</span>
                        {% endfor %}
                    </div>
                    <div class="input-field col s4">
                        <label for="lag">Giá trị lần ghi dữ liệu gần nhất:</label>
                        <input id="lag" name="lag" class="form-control">
                        {% for error in form.errors.lag %}
                            <!--<span class="text-danger">{{ form.errors.lag }}</span>-->
                            <span class="text-danger">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row center mt-3">
                    <br><br>
                    <button type="submit" class="btn-large">Dự đoán</button>
                </div>
            </form>
            <div class="container">
                <br><br>
                {% if prediction %}
                <h4 id="prediction" align="center"><b>Mực nước dự đoán: {{"%.2f"|format(prediction)}} m</b></h4>
                <button onclick="resetPage()">Dự đoán lại</button>
                {% endif %}
            </div>
        </div>
        <script>
            function resetPage() {
                // Reload the current page
                window.location.href = window.location.href
            }
        </script>
</body>
{% endblock %}